.square {
  border: 10px solid rgb(46, 32, 177);
  display: inline-block;
  width: 70px;
  /* height: 10px; */
  padding: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.1);
}

.square.X {
  color: red;
}

.square.O {
  color: rgb(170, 170, 5);
}

#win {
  font-size: 50px;
}